#contacto {
    background: linear-gradient(to left, white 70%, #E9E6E1 30%);
}



input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

input:focus {
    outline: none;
    border-bottom: 1px solid red;
    transition: 0.3s ease;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 16px
}

#contacto select {
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    /* para dejar espacio para la flecha */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

#sos-lo-que-haces {
    font-size: 48px !important;
}

#contacto .row {
    padding: 6rem 0px;
}



.slide-button {
    background: linear-gradient(to top, #818181 50%, rgb(255, 255, 255) 50%);
    /* Inicialmente fondo negro en la mitad izquierda y rosa en la mitad derecha */
    background-size: 100% 200%;
    /* Duplicar el ancho del fondo para poder desplazarlo */
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 1px solid;
    padding: 8px 55px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-position 0.3s ease;
    /* Transición suave de la posición del fondo */
}

/* Al hacer hover en el botón */
.slide-button:hover {
    background-position: 0% 100%;
    /* Desplazar el fondo completamente a la izquierda */
    transition: background-position 0.3s ease;
}